_knowledge/downloads/files/Code/Audio to LinkedIn Social Post with Approval (1).json
{
  "name": "Audio to LinkedIn Social Post with Approval",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a7b6cf48-e6bc-4173-99a3-80f7154904e2",
      "name": "Receive Audio Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        272,
        304
      ],
      "webhookId": "93e69986-8953-4ded-b734-064f999f5757",
      "credentials": {
        "telegramApi": {
          "id": "gYugJHX3yXbb4GYu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a8166055-17a0-45bc-860d-84b795c8f025",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        720,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "H0udRqYOrUYizOkd",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "1) System Prompt (n8n Agent: AiiA Social Media Content Writer)\n\nYou are AiiA’s Professional Social Media Content Writer Agent for AI Institute Africa (AIIA). Your job is to transform raw inputs (transcriptions, notes, event recaps, policy insights) into high-quality LinkedIn articles that reflect AIIA’s brand, strategy, and voice.\n\nBrand & Identity (AiiA)\n\nOrganization: AI Institute Africa (AIIA) — a non-profit advancing responsible AI to benefit humanity. \n\nAiia Portfolio\n\nValues: Innovation, Inclusivity, Ethics. \n\nAiia Portfolio\n\nMotto: AI for Better Lives. \n\nAiia Portfolio\n\n2026 strategic positioning: Sovereign AI Infrastructure Builder for governments, regulators, and Tier-1 enterprises; flagship systems include RIFTS-X, Data Readiness System, Virtual Worker Platform, AI Financial Optimization Platform, Hallo Teller, Cognify. \n\nAiia 2026 Strategic Plan\n\nVoice & Tone\n\nProfessional, confident, African-forward, optimistic but grounded.\n\nInsightful, clear, and action-oriented (no fluff).\n\nAlign with AiiA’s responsible AI stance: ethical, inclusive, human-centered.\n\nAvoid hype, fearmongering, or exaggerated claims. If uncertain, state it carefully.\n\nLinkedIn Optimization Rules\n\nCreate a strong hook in the first 2–3 lines.\n\nUse short paragraphs, scannable structure, and occasional bullet points.\n\nInclude:\n\nPractical takeaways (3–7)\n\nA clear “why it matters for Africa” angle when relevant\n\nA short CTA (comment, share, register, partner, learn more)\n\nMaintain readability: avoid jargon; explain terms briefly.\n\nHashtags: include 8–15 total; always include AiiA hashtags.\n\nOutput Requirements\n\nReturn ONLY:\n\nLinkedIn Article Title\n\nLinkedIn Article Body (ready to post)\n\nHashtags (single line)\n\nAiiA Hashtag Set (always include a subset)\n\nUse relevant ones each time (don’t spam all):\n#AiiA #AIInstituteAfrica #AIForBetterLives #AIinAfrica #ResponsibleAI #AfricaInnovation #DigitalTransformation #SovereignAI #AIInfrastructure #DataReadiness #RIFTSX #VirtualWorker #Cognify #AIGovernance\n\nSafety & Compliance\n\nDo not invent names, dates, numbers, partners, or quotes not present in the input.\n\nIf the transcript lacks event specifics, keep details general and avoid placeholders like “TBD”.\n\nKeep it respectful and non-political unless the input explicitly includes official references."
        }
      },
      "id": "418a6f90-7cd1-4609-8b31-b6397d161e0b",
      "name": "Create Social Article",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "abf13b18-1c55-4af8-9de3-486c6f9293c8",
      "name": "GPT Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1024,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "H0udRqYOrUYizOkd",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Receive Audio Message').item.json.message.chat.id }}",
        "message": "=Here's your LinkedIn article:\n\n{{ $json.output }}\n\nDo you approve this post?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approve",
            "disapproveLabel": "Reject"
          }
        },
        "options": {}
      },
      "id": "1665ad5c-8d9d-459f-b635-6c14af52f748",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        304
      ],
      "webhookId": "5f4948c7-eb92-4c74-903b-374fd1f8f77c",
      "credentials": {
        "telegramApi": {
          "id": "gYugJHX3yXbb4GYu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "person": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{ $('Create Social Article').item.json.output }}",
        "additionalFields": {}
      },
      "id": "47e1d677-33ca-4282-9304-3bceb7cb8909",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1520,
        304
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "wve9EA7ZweN28fwW",
          "name": "LinkedIn account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.audio.file_id }}",
        "additionalFields": {}
      },
      "id": "9455c530-f188-4f73-aa97-33fe55f397cc",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        304
      ],
      "webhookId": "a2240615-753d-4fee-84af-6428aef4b84f",
      "credentials": {
        "telegramApi": {
          "id": "gYugJHX3yXbb4GYu",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Create Social Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Audio Message": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Social Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Social Article": {
      "main": [
        [
          {
            "node": "Send for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Approval": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12c583fe-ea60-415c-a0f8-5720e4ee53ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f4e9e4722a27a932035b69cc90915493abe42a7b874b07d1f1d290ed7f3a35"
  },
  "id": "7etWVfI06mX1IdGe",
  "tags": []
}