_knowledge/downloads/files/Code/Dropbox Script to Video with Gemini Veo 3 (1).json
{
  "name": "Dropbox Script to Video with Gemini Veo 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "ae199962-f3d7-4378-b0c7-eddebb1cc29b",
      "name": "Daily 7:00 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "currentDate",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "searchQuery",
              "value": "AI news artificial intelligence machine learning",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "dateFilter",
              "value": "={{ 'published today ' + $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d81c242a-965d-49a3-8084-d863566e5265",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search for AI news published TODAY ({{ $('Workflow Configuration').item.json.currentDate }}).\n\nSearch for:\n- AI breakthroughs and research announcements\n- New AI product launches and updates\n- Industry developments and partnerships\n- AI policy and regulation news\n- Notable AI applications and use cases\n\n\nFor each news item found, extract:\n- Title\n- Source\n- Publication date/time\n- Brief summary (2-3 sentences)\n- Significance/impact\n- URL\n\nReturn your findings in the structured format with newsItems array, totalFound count, and searchDate.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI news research agent. Your task is to search for and gather the most significant AI news published TODAY with as minimal searches possible. Focus on reputable sources like TechCrunch, VentureBeat, MIT Technology Review, The Verge, Ars Technica, AI research labs, and major tech companies. Prioritize the top 3 most significant stories. If multiple sources report the same story, consolidate them into one entry with multiple source citations.",
          "maxIterations": 100
        }
      },
      "id": "23a7d701-f2be-4aa0-84ef-aefedc74a3a4",
      "name": "AI News Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        608
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "709d7b00-679b-4535-8d76-1c7d5eb072e7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1be14f95-d630-41bb-b63c-12751923c8f9",
      "name": "SerpAPI Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        832,
        832
      ],
      "credentials": {
        "serpApi": {
          "id": "6Ab0Yg4JaWOZosoq",
          "name": "SerpAPI account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"newsItems\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"title\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"sources\": {\n\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t\"publishedDate\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"summary\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"significance\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"url\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"priority\": {\n\t\t\t\t\t\t\"type\": \"number\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"totalFound\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"searchDate\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"newsItems\", \"totalFound\", \"searchDate\"]\n}",
        "autoFix": true
      },
      "id": "4966aad5-2935-40c4-9e09-02238cf66ca0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        832
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "4e30da9c-36e3-49ae-ab50-9697e36c97d1",
      "name": "OpenAI Chat Model for Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1456,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\": \"object\", \"properties\": {\"scriptTitle\": {\"type\": \"string\"}, \"scriptDate\": {\"type\": \"string\"}, \"estimatedDuration\": {\"type\": \"string\"}, \"introduction\": {\"type\": \"string\"}, \"trendSegments\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"segmentNumber\": {\"type\": \"number\"}, \"trendTopic\": {\"type\": \"string\"}, \"content\": {\"type\": \"string\"}, \"timingCue\": {\"type\": \"string\"}, \"speakerNotes\": {\"type\": \"string\"}, \"visualCues\": {\"type\": \"string\"}}}}, \"conclusion\": {\"type\": \"string\"}, \"fullScript\": {\"type\": \"string\"}}, \"required\": [\"scriptTitle\", \"scriptDate\", \"introduction\", \"trendSegments\", \"conclusion\", \"fullScript\"]}",
        "autoFix": true
      },
      "id": "101bed34-e50c-46ec-a0a0-ed34f3ec3fa4",
      "name": "Fallback Script Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1584,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38e36c99-2101-49d2-b6e6-c235e2e20d91",
              "name": "output.scriptTitle",
              "value": "={{ $json.output.scriptTitle }}",
              "type": "string"
            },
            {
              "id": "0b7657ee-f02e-47f7-96ee-514594979097",
              "name": "output.introduction",
              "value": "={{ $json.output.introduction }}",
              "type": "string"
            },
            {
              "id": "1bb9feb3-32e2-4cf8-adfa-f21bda954dfe",
              "name": "output.trendSegments[0].trendTopic",
              "value": "={{ $json.output.trendSegments[0].trendTopic }}",
              "type": "string"
            },
            {
              "id": "099c66c1-c2a6-421f-a94c-f0fd20bec6d8",
              "name": "output.trendSegments[0].content",
              "value": "={{ $json.output.trendSegments[0].content }}",
              "type": "string"
            },
            {
              "id": "66da9e27-37e3-4e8b-843c-7f9b46a69ffb",
              "name": "output.trendSegments[1].trendTopic",
              "value": "={{ $json.output.trendSegments[1].trendTopic }}",
              "type": "string"
            },
            {
              "id": "fee5c476-1bb6-4f11-b730-02ede35fdceb",
              "name": "output.trendSegments[1].content",
              "value": "={{ $json.output.trendSegments[1].content }}",
              "type": "string"
            },
            {
              "id": "4251c915-5b78-4e55-93db-b09d820869d8",
              "name": "output.trendSegments[2].trendTopic",
              "value": "={{ $json.output.trendSegments[2].trendTopic }}",
              "type": "string"
            },
            {
              "id": "c277e775-a31a-422d-8597-e3aaf0a6f1fe",
              "name": "output.trendSegments[2].content",
              "value": "={{ $json.output.trendSegments[2].content }}",
              "type": "string"
            },
            {
              "id": "3a825fa4-2af6-4c8e-99df-5225cb793dbe",
              "name": "output.trendSegments[3].trendTopic",
              "value": "={{ $json.output.trendSegments[3].trendTopic }}",
              "type": "string"
            },
            {
              "id": "71bdd249-0bbe-4c30-8459-bba641d5e5bb",
              "name": "output.trendSegments[3].content",
              "value": "={{ $json.output.trendSegments[3].content }}",
              "type": "string"
            },
            {
              "id": "33c92c95-9281-4f13-bfdc-3fa73743a2c3",
              "name": "output.trendSegments[4].trendTopic",
              "value": "={{ $json.output.trendSegments[4].trendTopic }}",
              "type": "string"
            },
            {
              "id": "202193c7-9bcd-4701-9af4-d51ee46bc81d",
              "name": "output.trendSegments[4].content",
              "value": "={{ $json.output.trendSegments[4].content }}",
              "type": "string"
            },
            {
              "id": "8e3ed1e7-386f-42d8-a2ed-acaf0e30f1e7",
              "name": "output.conclusion",
              "value": "={{ $json.output.conclusion }}",
              "type": "string"
            },
            {
              "id": "19062d2c-dfd1-4a2a-a280-6169a956b908",
              "name": "output.fullScript",
              "value": "={{ $json.output.fullScript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76007d6a-f615-4ce4-9d9f-3dbdd8212991",
      "name": "Format Script for Storage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        608
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1168,
        1040
      ],
      "id": "dfd02f9b-458f-4f5b-a624-c40a871de17d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {}
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        960,
        976
      ],
      "id": "51e59c67-0125-4b51-a3c2-6ae0e7f31f3a",
      "name": "Message a model in Perplexity"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1664,
        1040
      ],
      "id": "38885393-34fa-44d5-8e29-35952ed83e39",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "/Scrips",
        "fileContent": "={{ $json.output.fullScript }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2176,
        608
      ],
      "id": "b58aedd5-352f-4888-bf00-3f9458beeb25",
      "name": "Upload a file",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "QEwA7PlEC46NHlhn",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today ({{ $('Workflow Configuration').item.json.currentDate }}), there are no major AI news updates to report.\n\nCreate a fallback script that:\n\n1. INTRODUCTION (30-45 seconds)\n- Acknowledge the quiet news day\n- Set positive, informative tone\n- Preview the content approach\n\n2. MAIN CONTENT (6-8 minutes)\n- Provide overview of ongoing AI trends:\n  * Current developments in large language models\n  * AI adoption in various industries\n  * Regulatory landscape updates\n  * Notable ongoing research areas\n  * AI ethics and safety discussions\n- For each trend:\n  * Brief explanation\n  * Recent context (past week/month)\n  * Why it remains relevant\n  * [TIMING CUES] for pacing\n\n3. CONCLUSION (30-45 seconds)\n- Summarize key ongoing themes\n- Encourage staying informed\n- Positive closing\n\nFormatting requirements:\n- Use clear section headers\n- Include [TIMING CUES] in brackets\n- Add [SPEAKER NOTES] for tone guidance\n- Mark [TRANSITION] points\n- Suggest [VISUAL CUES] where relevant\n\nReturn the complete script in structured format.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional script writer creating daily AI news briefing scripts. When there are no major news updates, you create informative fallback scripts covering ongoing AI trends and developments. Your scripts are well-structured with clear sections, timing cues, speaker notes, transitions, and visual cues. Target length is 8-10 minutes."
        }
      },
      "id": "0aa632ae-3370-4500-b783-5a0b60150c7f",
      "name": "Script Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1488,
        608
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "9c33a902-29fb-4f9d-a40f-017442b1efb5",
      "name": "Extract Script Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2864,
        608
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "veo-003"
        },
        "prompt": "Create a high-quality cinematic video that represents the mission and values of Aiia (Artificial Intelligence Institute Africa).\n\nThe video should showcase African innovation, inclusivity, and ethical use of AI, highlighting real African people, environments, and contexts rather than stereotypes.\n\nShow diverse African professionals, students, researchers, and entrepreneurs using technology responsibly in everyday settings such as universities, offices, innovation hubs, rural and urban communities.\n\nPortray AI as a tool that empowers people, improves lives, builds skills, and supports sustainable development across Africa.\n\nThe tone should be hopeful, professional, and forward-looking, emphasizing collaboration, learning, accountability, and human oversight of technology.\n\nVisual style should be modern and clean, with warm natural lighting, authentic African architecture, landscapes, and workplaces.\n\nAvoid exaggerated sci-fi visuals or clichés. Focus instead on realistic, ethical, and responsible AI adoption that reflects Africa’s present and future potential.\n\nEnd the video with a strong sense of collective ownership and purpose, reinforcing the message:\n“AI for Better Lives. Built by Africa, for Africa.”\n\n🎯 Optional Add-Ons (if Veo allows extra controls)\n\nYou can append any of these depending on your use case:\n\nFor a corporate / policy audience\n\nEmphasize governance, professionalism, ethical decision-making, and structured collaboration.\n\nFor a youth / training audience\n\nEmphasize learning, skills development, mentorship, and access to opportunity.\n\nFor a funding / partner audience\n\nEmphasize scalability, impact, sustainability, and institutional collaboration.\n\n🧠 Why this prompt works\n\nAligns with Aiia’s vision & mission\n\nCenters African agency, not imported narratives\n\nReinforces ethics, responsibility, and inclusivity\n\nAvoids harmful stereotypes\n\nWorks for branding, launch videos, policy visuals, or pitch decks\n\nIf you want, I can also:\n\nCreate a 30-second, 60-second, or 90-second Veo version\n\nWrite a voice-over script to match this prompt\n\nAdapt it specifically for Cognify, policy advocacy, or government engagement\n\nJust tell me.",
        "options": {}
      },
      "id": "d028fc53-a537-4383-95d6-9643fe1df40e",
      "name": "Generate Video with Gemini Veo 3",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3088,
        608
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "9bhDaXcDsgGh3l5H",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Workflow Configuration1').item.json.dropboxOutputFolder + '/' + $('Download Script Files').item.json.fileName.replace('.txt', '.mp4') }}",
        "binaryData": true
      },
      "id": "6081aacf-b474-4995-b740-3b60210885ad",
      "name": "Upload Video to Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        3312,
        608
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "QEwA7PlEC46NHlhn",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Analyze this video generated from the script: ' + $('Extract Script Text').item.json.text + '. The video has been successfully generated. Provide comprehensive enhancement recommendations.' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a video enhancement specialist AI. Your role is to analyze generated videos and provide detailed, actionable recommendations for improvements. Consider visual quality, pacing, content clarity, technical aspects, and alignment with the original script. Be specific and constructive in your feedback."
        }
      },
      "id": "fc7ffc9b-1c9f-4a1d-aa1f-d9aae6b1df97",
      "name": "Assess Video for Enhancements",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3072,
        880
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"visualQuality\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Assessment of visual quality\"\n\t\t},\n\t\t\"pacingAndTiming\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Evaluation of video pacing\"\n\t\t},\n\t\t\"contentClarity\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Analysis of content clarity\"\n\t\t},\n\t\t\"technicalImprovements\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"List of technical suggestions\"\n\t\t},\n\t\t\"priorityLevel\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Overall priority: high, medium, or low\"\n\t\t},\n\t\t\"specificEnhancements\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Actionable enhancement recommendations\"\n\t\t}\n\t}\n}",
        "autoFix": true
      },
      "id": "98cf170e-ae12-4801-a1a7-c04999a8d8a6",
      "name": "Format Enhancement Recommendations",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3168,
        1104
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2992,
        1104
      ],
      "id": "cb01383e-1d37-40f5-95f0-53d461381dd6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3104,
        1312
      ],
      "id": "90ecfaee-923b-4463-af60-d145d5e2d57d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "d6pb61EXgeNhmP12",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "dropboxScriptFolder",
              "value": "/scripts",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "dropboxOutputFolder",
              "value": "/generated-videos",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "scriptFileExtension",
              "value": ".txt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4bad49e-cbe0-4abc-b93c-f59320d7bc2e",
      "name": "Workflow Configuration1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        608
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "/Scrips"
      },
      "id": "3201783a-da30-4bda-a556-ae9fe94bc138",
      "name": "Download Script Files",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2640,
        608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "QEwA7PlEC46NHlhn",
          "name": "Dropbox account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 7:00 AM Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI News Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI News Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI News Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI News Research Agent": {
      "main": [
        [
          {
            "node": "Script Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Script Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Script Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Script Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Script for Storage": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI News Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Script Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Workflow Configuration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Agent": {
      "main": [
        [
          {
            "node": "Format Script for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Script Text": {
      "main": [
        [
          {
            "node": "Generate Video with Gemini Veo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Gemini Veo 3": {
      "main": [
        [
          {
            "node": "Upload Video to Dropbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assess Video for Enhancements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Enhancement Recommendations": {
      "ai_outputParser": [
        [
          {
            "node": "Assess Video for Enhancements",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Assess Video for Enhancements": {
      "main": [
        [
          {
            "node": "Upload Video to Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Assess Video for Enhancements",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Format Enhancement Recommendations",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration1": {
      "main": [
        [
          {
            "node": "Download Script Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Script Files": {
      "main": [
        [
          {
            "node": "Extract Script Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9c208280-fae3-40d3-a738-76716ef0cc51",
  "meta": {
    "instanceId": "b55e1a0d9c010772199ae1a01398904cd885f7a7e426fc86b390e6166d33133e"
  },
  "id": "esX_CdyutWu3wy3Oar08O",
  "tags": []
}