_knowledge/downloads/files/Code/Income Statement Tool (1).json
{
  "name": "Income Statement Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "payload",
              "type": "any"
            }
          ]
        }
      },
      "id": "faedad48-aa85-43c9-aada-2bbacd687af5",
      "name": "Receive Income Statement Request",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.payload }}",
        "options": {
          "systemMessage": "You are an income statement generator. Your task is to:\n1. Use the database_agent tool to retrieve the necessary financial data for the request\n2. Use the calculator tool to compute income statement values (revenue, expenses, net income, etc.)\n3. Create a clear, formatted monthly income statement report\n\nBe thorough and ensure all calculations are accurate."
        }
      },
      "id": "4fe67229-0ed0-4712-be58-611c0a915502",
      "name": "Income Statement Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "8b81003e-d1f0-4c02-980f-d538b172ea4d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "ao8wEZNz0xUB8jYK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2131f4cb-fc13-4b14-bcb8-8707791cb11f",
      "name": "Calculator_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        736,
        528
      ]
    },
    {
      "parameters": {
        "description": "Calls the database agent workflow to retrieve financial data needed for the income statement. Provide the month and year for which data is needed.",
        "workflowId": {
          "__rl": true,
          "value": "tkgaTrUZnLyJhcOK",
          "mode": "list",
          "cachedResultUrl": "/workflow/tkgaTrUZnLyJhcOK",
          "cachedResultName": "VW Templates — AI-Powered Supabase SQL Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $json }}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "7de3aa0a-1981-4245-abc3-92fbfd47e47a",
      "name": "Database_Agent_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        528
      ]
    }
  ],
  "pinData": {
    "Receive Income Statement Request": [
      {
        "json": {
          "payload": {
            "headers": {
              "host": "royalchrisking.app.n8n.cloud",
              "user-agent": "node",
              "content-length": "184",
              "accept": "*/*",
              "accept-encoding": "gzip, br",
              "accept-language": "*",
              "cdn-loop": "cloudflare; loops=1; subreqs=1",
              "cf-connecting-ip": "2600:1900:0:2d08::600",
              "cf-ew-via": "15",
              "cf-ipcountry": "US",
              "cf-ray": "9d482d11bd66f157-ORD",
              "cf-visitor": "{\"scheme\":\"https\"}",
              "cf-worker": "n8n.cloud",
              "content-type": "application/json",
              "sec-fetch-mode": "cors",
              "x-forwarded-for": "2600:1900:0:2d08::600, 172.70.131.125",
              "x-forwarded-host": "royalchrisking.app.n8n.cloud",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "traefik-prod-users-gwc-105-84f9ff7989-tg5nn",
              "x-is-trusted": "yes",
              "x-real-ip": "2600:1900:0:2d08::600"
            },
            "params": {},
            "query": {},
            "body": {
              "prompt": "Make an income statement of any month using the data in the database",
              "domain": "General",
              "timestamp": "2026-02-27T13:54:45.778Z",
              "source": "vwp-platform",
              "contentType": "text"
            },
            "webhookUrl": "https://royalchrisking.app.n8n.cloud/webhook-test/workflow-router",
            "executionMode": "test",
            "session_id": "92865dea-4800-4af4-a0dd-3700cffa65c2",
            "input": "Generate an income statement for any month using the data in the database.",
            "toolCallId": "call_FlMqzOMoZiSLOz4SpHs92UtM"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Income Statement Request": {
      "main": [
        [
          {
            "node": "Income Statement Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Income Statement Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator_Tool": {
      "ai_tool": [
        [
          {
            "node": "Income Statement Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Database_Agent_Tool": {
      "ai_tool": [
        [
          {
            "node": "Income Statement Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92952e5d-2982-4484-83df-54f64eac4af9",
  "meta": {
    "instanceId": "aea56f37631ae09cf0902a488b22b389ad8a85450c27b94deeea6c7144493d2b"
  },
  "id": "IYczY1zNqkDCRsVK",
  "tags": []
}