_knowledge/downloads/files/Code/Intelligent Database Administrator Supervisor with Memory and Reasoning.json
{
  "name": "Intelligent Database Administrator Supervisor with Memory and Reasoning",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "payload",
              "type": "any"
            }
          ]
        }
      },
      "id": "ec4beb27-7d33-4dd4-8fe2-18562406d92b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.task }}",
        "options": {
          "systemMessage": "You are the Database Administrator Agent - the brain and supervisor of the entire database system.\n\nYour Role:\n- Oversee and organize the entire database\n- Maintain data availability and integrity\n- Know every table, relation, record, past command, and interaction\n- Understand the date and time of everything that happened\n- Diagnose and explain any errors that occur\n\nYour Capabilities:\n- Access complete database history and context through your Postgres memory\n- Handle both simple and highly complex tasks\n- Use advanced reasoning to plan execution strategies (steps, iterations, simultaneous operations)\n- Supervise the Database Agent employee who executes SQL operations\n- Validate outputs and find and execute solutions when results don't match expectations\n\nYour Process:\n1. Understand the request thoroughly\n2. Retrieve relevant context from memory (past interactions, table structures, relations, data organization)\n3. Plan the execution strategy with complex reasoning\n4. Build structured prompts for the Database Agent with exact instructions\n5. Validate outputs from tools\n6. If output is not desired, use your complete database knowledge to find solutions and retry\n\nYou ensure data integrity at every step. You are responsible for everything that happens in the database."
        }
      },
      "id": "ee5f13ed-fc9a-463e-9bd0-297e748fa32b",
      "name": "Database Admin Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ec4a45eb-ed4c-49eb-a0cb-147b7a986ba6",
      "name": "OpenAI Brain",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "ao8wEZNz0xUB8jYK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.dbsession_id }}",
        "tableName": "database_activity_log"
      },
      "id": "421981e9-7f7f-4b88-bad0-593bd0775701",
      "name": "Supabase Postgres Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        832,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "IH5xaiEbN2BWK5zX",
          "name": "Superbase Credentials"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tkgaTrUZnLyJhcOK",
          "mode": "list",
          "cachedResultUrl": "/workflow/tkgaTrUZnLyJhcOK",
          "cachedResultName": "VW Templates — AI-Powered Supabase SQL Executor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        528
      ],
      "id": "cea73c12-a781-4f15-b0c2-f6b551503434",
      "name": "AI-Powered Supabase SQL Executor"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming item\nconst input = $input.first().json;\n\n// Hardcode session ID\ninput.dbsession_id = \"database123\";\n\n// Return properly formatted array\nreturn [\n  {\n    json: input\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ],
      "id": "b576dc39-44e7-45ca-ae1b-5b2041f2d8a5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Database Admin Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Postgres Memory": {
      "ai_memory": [
        [
          {
            "node": "Database Admin Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI-Powered Supabase SQL Executor": {
      "ai_tool": [
        [
          {
            "node": "Database Admin Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Database Admin Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d42338fa-6807-4095-959d-03ae31e3db7f",
  "meta": {
    "instanceId": "aea56f37631ae09cf0902a488b22b389ad8a85450c27b94deeea6c7144493d2b"
  },
  "id": "QDsbezAIgEPvrWe3",
  "tags": []
}